beautifulsoup4==4.6.3
certifi==2018.8.13
chardet==3.0.4
Django==2.1
django-livereload==1.7
django-livereload-server==0.3.2
idna==2.7
Pillow==5.2.0
python-decouple==3.1
pytz==2018.5
requests==2.19.1
six==1.11.0
stripe==2.5.0
tornado==5.1
urllib3==1.23
