{% extends "jobs/base.html" %} 
{% load static %}


{% block title %} Abe Pena{% endblock  %}
    

{% block style %}
    <style>
        #headshot {
            border-radius: 50%;
        }
    </style>
{% endblock  %}
    

{% block body %}
<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Abe the
                <span class="rotating">developer</span>
            </h1>
            <p class="lead text-muted">
                Web developer and creator, passionate about creating functional web applications.
            </p>
            <p>
                <a href="mailto:pena.abe@gmail.com" class="btn btn-primary my-2">Contact Me</a>
            </p>
            <img id="headshot"src="{% static 'headshot.jpg' %}" height="300px" alt="Abe Headshot">
        </div>
        <div class="container">
            <div class="buttons">
                <ul>
                    <li><a href="github.com/abepena">Github</a></li>
                    <li><a href="{% static 'resume_placeholder.pdf' %}">Resume</a></li>
                    <li><a href="">Blog</a></li>
                </ul>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light projects">
        <div class="container">

            <div class="row">
                {% for job in jobs.all  %}
                <div class="col-md-6">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="{{ job.image.url }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ job.name }} </h5>
                            <p class="card-text">
                                {{ job.summary|linebreaks }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>

</main>

<footer class="text-muted">
    <div class="container text-center">
        <p>Abe Pena &copy {% now "Y"%} </p>
    </div>
</footer>
{% endblock %}